/*登录*/
.login{
	background: #fff;
}
.login label{
	font-weight: 400;
}
.login .uploadTab{
	display: inline-block;
	width: 100px;
}

/*project*/
.project-page .topImg{
	height: 50px;
}
.project-page ul.bar_tabs{
	background: #fff;
	padding-left: 0px;
	margin: 21px 0 -1px;
}
.project-page ul.bar_tabs>li{
	margin-left: 0px;
	width: 50%;
	border-radius: 0px;
}
.project-page ul.bar_tabs>li.active{
	border-right: none;
	margin-top: -17px;
}
.project-page .nav-tabs>li>a{
	border-radius: 0px;
}
.project-page .col-xs-4, .project-page .col-xs-8{
	padding-left: 0px;
	padding-right: 0px;
}

/*footer*/
footer{
	padding: 0px;
}